@media only screen and (max-width:720px) {
    canvas {
        width: 100% !important;
        height: auto !important;
        /* Ensure it scales properly */
        margin-top: 0px !important;
    }

    .all-canvas-buttons {
     
        position: absolute;
        top: 50%;  /* Position it vertically in the middle */
        left: 50%;
        transform: translate(-50%, -50%); /* Center the div */
        z-index: 999;  /* Make sure it's on top */
    }

    /* Hide certain elements for small screens */
    h2,
    .canvas-cap,
    .game-buttons-div,
    .restart-button,
    .instructions-h1 {
        display: none !important;
    }

    .instructions-page {
        height: 100vh;
        justify-content: center;
    }

}

@media only screen and (max-height:480px) {
    canvas {
        width: 100% !important;
        /* Adjust width */
        height: 100vh !important;
        /* Ensure full screen height */
        margin-top: 0px !important;
    }

    .all-canvas-buttons {
        position: absolute;
        top: 50%;  /* Position it vertically in the middle */
        left: 50%;
        transform: translate(-50%, -50%); /* Center the div */
        z-index: 999;  /* Make sure it's on top */
    }

    h2,
    .canvas-cap,
    .game-buttons-div,
    .restart-button,
    .instructions-h1 {
        display: none !important;
    }


    .instructions-page {
        height: 100vh;
        justify-content: center;
    }
}

@media only screen and (max-device-width: 667px) and (max-device-height: 375px) {
    canvas {
        width: 100% !important;
        height: 100vh !important;
        /* Make sure the canvas takes up the entire height */
        margin-top: 0 !important;
    }

    .all-canvas-buttons {/* Make sure buttons are visible */
        position: absolute;
        top: 50%;  /* Position it vertically in the middle */
        left: 50%;
        transform: translate(-50%, -50%); /* Center the div */
        z-index: 999;  /* Make sure it's on top */
    }

    h2,
    .canvas-cap,
    .game-buttons-div,
    .restart-button,
    .instructions-h1 {
        display: none !important;
    }



    .instructions-page {
        height: 100vh;
        justify-content: center;
    }
}

@media only screen and (max-device-width: 1280px) and (max-device-height: 800px) {
    canvas {
        width: 100% !important;
        height: 100vh !important;
        /* Make sure the canvas takes up the entire height */
        margin-top: 0 !important;
    }

    .all-canvas-buttons {  /* Make sure buttons are visible */
        position: absolute;
        top: 50%;  /* Position it vertically in the middle */
        left: 50%;
        transform: translate(-50%, -50%); /* Center the div */
        z-index: 999;  /* Make sure it's on top */
    }

    h2,
    .canvas-cap,
    .game-buttons-div,
    .restart-button,
    .instructions-h1 {
        display: none !important;
    }



    .instructions-page {
        height: 100vh;
        justify-content: center;
    }
}

@media only screen and (max-device-width: 1180px) and (max-device-height: 820px) {
    canvas {
        width: 100% !important;
        height: 100vh !important;
        /* Make sure the canvas takes up the entire height */
        margin-top: 0 !important;
    }

    .all-canvas-buttons { /* Make sure buttons are visible */
        position: absolute;
        top: 85%;  /* Position it vertically in the middle */
        left: 50%;
        transform: translate(-50%, -50%); /* Center the div */
        z-index: 999;  /* Make sure it's on top */
    }


    h2,
    .canvas-cap,
    .game-buttons-div,
    .restart-button,
    .instructions-h1 {
        display: none !important;
    }



    .instructions-page {
        height: 100vh;
        justify-content: center;
    }
}