@media (pointer: coarse) and (max-width: 720px) {
    canvas {
        width: 100% !important;
        height: auto !important;
        margin-top: 0px !important;
    }

    .all-canvas-buttons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
    }

    h2,
    .canvas-cap,
    .game-buttons-div,
    .restart-button,
    .instructions-h1 {
        display: none !important;
    }

    .instructions-page {
        height: 100vh;
        justify-content: center;
    }
}

@media (pointer: coarse) and (max-height: 480px) {
    canvas {
        width: 100% !important;
        height: 100vh !important;
        margin-top: 0px !important;
    }

    .all-canvas-buttons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
    }

    h2,
    .canvas-cap,
    .game-buttons-div,
    .restart-button,
    .instructions-h1 {
        display: none !important;
    }

    .instructions-page {
        height: 100vh;
        justify-content: center;
    }
}

@media (pointer: coarse) and (max-device-width: 667px) and (max-device-height: 375px) {
    canvas {
        width: 100% !important;
        height: 100vh !important;
        margin-top: 0 !important;
    }

    .all-canvas-buttons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
    }

    h2,
    .canvas-cap,
    .game-buttons-div,
    .restart-button,
    .instructions-h1 {
        display: none !important;
    }

    .instructions-page {
        height: 100vh;
        justify-content: center;
    }
}

@media (pointer: coarse) and (max-device-width: 1280px) and (max-device-height: 800px) {
    canvas {
        width: 100% !important;
        height: 100vh !important;
        margin-top: 0 !important;
    }

    .all-canvas-buttons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
    }

    h2,
    .canvas-cap,
    .game-buttons-div,
    .restart-button,
    .instructions-h1 {
        display: none !important;
    }

    .instructions-page {
        height: 100vh;
        justify-content: center;
    }
}

@media (pointer: coarse) and (max-device-width: 1180px) and (max-device-height: 820px) {
    canvas {
        width: 100% !important;
        height: 100vh !important;
        margin-top: 0 !important;
    }

    .all-canvas-buttons {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
    }

    h2,
    .canvas-cap,
    .game-buttons-div,
    .restart-button,
    .instructions-h1 {
        display: none !important;
    }

    .instructions-page {
        height: 100vh;
        justify-content: center;
    }
}
